<div class="container">
  <h1>Marées à <%= @port.name.capitalize %></h1>

  <%= form_with url: tide_path(@port), method: :get do |f| %>
    <%= f.label :height, "Hauteur du mouillage" %>
    <%= f.text_field :height, value: params[:height] %>
  <% end %>
  <br>

  <div class="flex">
    <table>
      <tbody>
        <tr>
          <th>Infos</th>
          <th>Coeff</th>
          <th>Heure</th>
          <th>Hauteur</th>
        </tr>
        <% @tides.each do |tide| %>
          <tr class="<%= 'red' if tide.tide == "Départ / Arrivée" %>">
            <td><%= tide.tide %></td>
            <td><%= tide.coef %></td>
            <td><%= tide.hour.strftime("%d/%m - %Hh%M") %></td>
            <td><%= tide.height %>m</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= line_chart @tides.map { |tide| [tide.hour, tide.height]},
      suffix: " m"
    %>
  </div>
</div>
